extends base 

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(placeholder="id", name="username", type="text", required, minlength="5")
        input(placeholder="password", name="password", type="password", required, minlength="5")
        input(placeholder="password confirm", name="password2", type="password", required, minlength="5")
        input(placeholder="name", name="name", type="text", required)
        input(placeholder="email", name="email", type="email", required)
        input(placeholder="location", name="location", type="text")
        input(type="submit", Value="Join")
        include partials/social-login
    div.auth-switch
        span Already have an account? 
            a(href="/login") Login &rarr;