extends base

block content  
    h4 Upload Video 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="title", placeholder="Title", required, type="text", maxlength=100)
        input(name="description", placeholder="Description", required, type="text", maxlength=1000)
        input(name="hashtag", placeholder="Hashtags (Separate by comma)", required, type="text")
        input(value="Upload", type="submit")
