header
    a(href="/").header__logo
        i.fab.fa-youtube
        span MyTube
    form(method="GET", action="/search").search-form
        input(placeholder="Search", name="keyword", type="text")
        button 
            i.fas.fa-search
    nav
        ul   
            if loggedIn
                li
                    a(href="/videos/upload") Upload
                li 
                    a(href="/users/logout") Logout
                li 
                    a(href=`/users/${loggedInUser._id}`) #{loggedInUser.name}
            else    
                li
                    a(href="/login") Login
                li
                    a(href="/join") Join