extends ../base

block content 
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar 
        input(type="file", id="avatar", name="avatar", accept=".png, .jpg, .jepg")
        input(placeholder="id", name="username", type="text", required, Value=loggedInUser.username, minlength="5")
        img(src="/"+loggedInUser.avatarUrl, width="100", height="100")
        input(placeholder="name", name="name", type="text", required, Value=loggedInUser.name)
        input(placeholder="email", name="email", type="email", required, Value=loggedInUser.email)
        input(placeholder="location", name="location", type="text", Value=loggedInUser.location)
        input(type="submit", Value="Save")
        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change Password &rarr;