extends ../base 
include ../mixins/videos

block content 
    img(src="/"+user.avatarUrl, width="100", height="100")
    h4 #{user.location}
    //만약에 본인이라면
    hr
    a(href="edit-profile") Edit &rarr;
    each video in user.videos 
        +videos(video)
    else
        li No video yet.